<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcom to registration Ppp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Do you wanna register your account?</strong>
    <ion-button (click)="GoToPage('registration-page')"> Create </ion-button>
    <ion-button (click)="GoToPage('account-list')"> List </ion-button>
  </div>
</ion-content>
