<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> APP ETEC - Contato </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">APP ETEC - Contato</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>Lista com array</h3>
    <ion-list *ngFor="let ctt of Result">
      <ion-item>
        <ion-label>Id: {{ctt.id_Conta}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nome: {{ctt.nomeDoCredor}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data Vencimento: {{ctt.dataDoVencimento}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Valor: {{ctt.valorAPagar}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data Pagamento: {{ctt.dataDoPagamento}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email: {{ctt.email}}</ion-label>
      </ion-item>
      <hr size="4px" color="Black">
    </ion-list>
    
    <ion-button color="success" (click)="LoadData()">Consultar</ion-button>
    <ion-button color="danger" (click)="GoToPage('home')">Cancelar</ion-button>
  </div>
</ion-content>
